@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --v-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grey: hsl(237, 12%, 33%);
  --dark-blue: hsl(240, 6%, 50%);
  --light-grey: hsl(240, 5%, 91%);
}

html {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 475px;
  border-radius: 30px;
  margin: 30px;
  width: 70%;
}
/* ******************************************************************* */
/* Left */

#graphics {
  display: flex;
  overflow: hidden;
  align-items: center;
  /* border: 2px solid red; */
  flex-basis: 45%;
}

picture {
  width: 97%;
  margin: 0px auto;
}

#main-img {
  width: 100%;
}

/* ******************************************************************* */
/* Right */

#faq {
  padding: 20px;
  /* border: 2px solid green; */
  flex-basis: 55%;
}

#title {
  margin: 40px 0px;
  color: var(--v-blue);
  font-size: 2.5rem;
}
.qsblock {
  border-bottom: 1px solid var(--light-grey);
}

.qs {
  border: none;
  margin: 5px 0px;
  width: 100%;
  background-color: transparent;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
}

.qs i {
  color: var(--soft-red);
  font-size: 1rem;
}

.qs h3 {
  color: var(--very-dark-grey);
  text-align: left;

  font-size: 1rem;
}
.qs:hover {
  color: var(--soft-red);
}
.qs h3:hover {
  color: var(--soft-red);
}
.ans {
  margin: 2px;
  padding: 2px 0px 10px 0px;
  display: none;
  overflow: hidden;
}

.ans p {
  color: var(--dark-blue);
  font-size: 1rem;
}
